img{
    height:30%;
    width:100%;
    position:relative;
    top:60%;
}

.container{
    position:absolute;
    left:20%;
    width:60%;
}

h1{
    color: blue ;
      font-size: 3em;
    position: relative;
   
}
p {font-size:18px;
color:#538b01;
  font-weight:bold;
     font-style:italic;
}
