#section1{
    background : url("https://www.travelsupermarket.com/content/dam/travelsupermarket/background/hero-images/c/cruises/cruises-caribbean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#section2{
    background : url(https://ak2.picdn.net/shutterstock/videos/4587662/thumb/1.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}

#section3{
    background : url("https://www.australia.com/content/australia/en_gb/things-to-do/aquatic/_jcr_content/image.adapt.985.HIGH.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
    text-align: center;
    color: white;
}

